* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
}

header {
    background: lightsteelblue;
}

header nav {
    background: white;
    padding-top: 5px;
}

.box {
    text-align: center;
    padding: 15px 0;
}

header h1 {
    text-align: center;
    font-size: 47px;
    padding-bottom: 20px;
    color: white;
    font-family: sans-serif;
    font-variant-caps: small-caps;
}

header img {
    width: 30px;
    vertical-align: middle;
}

header h2 {
    color: white;
    font-size: 15px;
    display: inline;
}

header ul {
    text-align: center;
}

header li {
    display: inline;
    padding: 0 60px;
    border-right: 1px;
    border-style: solid;
}

.diff {
    border-right: none;
}

header a {
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

header a:hover {
    color: lightsteelblue;
    font-size: 16px;
}

main {
    justify-content: center;
    align-items: center;
}

main a {
    text-align: center;
}

.part1:hover {
    color: rgb(57, 162, 227);
}

.part2:hover {
    color: rgb(57, 162, 227);
}

.div1  {
    display: inline-flex;
    padding-left: 125px;
    width: 100%;
    margin: 30px auto;
}


.block1 {
    width: 45%;
    border-right: 1px;
    border-style: solid;
    text-decoration: none;
    color: black;
    position: relative;
    right: 6px;
}

main img {
    border-radius: 15px;
}

.block2 {
    padding-left: 125px;
}

.part1 {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}

.text1 {
    text-align: left;
    font-size: 20px;
    font-family: sans-serif;
}

.img1 {
    width: 300px;
}

.ablock1diff {
    text-decoration: none;
    color: black;
    position: relative;
    right: 10px;
}

.ablock1 {
    text-decoration: none;
    color: black;
}

.divblock1 {
    border-bottom: 1px;
    border-style: solid;
}

.divblock1 {
    padding-bottom: 10px;
}

.img2 {
    width: 200px;
}

.part2 {
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
}

.text2 {
    font-family: sans-serif;
    text-align: left;
    font-size: 18px;
}

.text3 {
    font-family: sans-serif;
    font-size: 16px;
    text-align: center;
}

.divblock2 {
    padding-top: 10px;
}

.div2 {
    display: inline-flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    margin-left: 75px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.img3 {
    width: 200px;
}

.img4 {
    width: 200px;
    height: 150px;
}

.img5 {
    width: 200px;
    height: 150px;
}

.objpad {
    padding-right: 150px;
    width: 35%;
}

.part3 {
    color: black;
}

.ablock2 {
    text-decoration: none;
    text-align: center;
}

.part3:hover {
    color: rgb(57, 162, 227);
}

.titlex {
    text-align: center;
    margin-top: 50px;
}

.divx {
    margin-bottom: 130px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 60px;
}

.textx {
    font-weight: normal;
    font-size: 25px;
}

.px {
    margin-bottom: 20px;
    text-align: justify;
}

.pxdiff {
    margin-bottom: 0px;
    text-align: justify;
}

.imgxblock {
    text-decoration: none;
}

.imgx {
    width: 400px;
    margin-bottom: 10px;
    margin-left: 220px;
    position: relative;
    left: 50px;
}

.imgtxt1 {
    font-weight: normal;
    position: relative;
    left: 355px;
    margin-bottom: 30px;
    font-size: 12px;
    font-family: sans-serif;
    border-bottom: 1px;
    border-style: solid;
    width: 24.5%;
}

.imgtxt2 {
    font-weight: normal;
    position: relative;
    left: 327px;
    margin-bottom: 30px;
    font-size: 12px;
    font-family: sans-serif;
    border-bottom: 1px;
    border-style: solid;
    width: 30.1%;
}

.titlex1 {
    text-align: center;
    margin-top: 50px;
}

.lid {
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 30px;
    font-weight: normal;
}

.divx1 {
    margin-bottom: 130px;
    margin-left: 200px;
    margin-right: 200px;
}

.fotox {
    width: 700px;
    border-radius: 30px;
    position: relative;
    left: 310px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.fototx {
    text-align: center;
    font-weight: normal;
    font-family: sans-serif;
    margin-bottom: 30px;
}

.video {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
}

footer {
    background: lightsteelblue;
    text-align: center;
}

footer img {
    width: 150px;
    margin: 20px 0;
}